@charset "utf-8";
body {display: block; margin-top: 30px;}

.imgThumb {width: 50px; height: 50px; background-size: 50px; border-radius: 70%; object-fit: cover;}
.imgThumb_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 0px;
    width: auto; height: 50px;
    margin-left: 20px;
}
/* 메인(가운데 영역) */
#container {position: static; margin: 0px 45px; min-height: 100%;}
#container #c_inner_map {width: inherit; display: flex; height: 500px; border: 1px solid black;}
#container #c_inner_map #search_result_box {flex-grow: 1; height: inherit; max-width: 17%;}
#container #c_inner_map #tmap_box {flex-grow: 3; height: inherit; max-width: 50%;}
#container #c_inner_map #comment_box {flex-grow: 2; height: 600px; max-width: 33%;}

#search_result_box .p_search {height: 50px; border: 1px solid red;}
#comment_box .p_comment {height: 50px; border: 1px solid red;}

#container #search_result_box #result_list_box {width: inherit; height: 450px; overflow: scroll; overflow-x: hidden;}

.li_search {height: 50px; margin: 10px; font-size: 30px; padding: 13px 10px; border: 1px solid green;}

#container #comment_box #comment_list_box {width: inherit; height: 380px; overflow: scroll; overflow-x: hidden;}
#container #comment_box #comment_input_box {width: inherit; height: 60px; border: 1px solid green;
    padding: 10px 0px 0px 10px; display: flex; justify-items: center;}
#container #c_inner_suggestion {width: inherit; display: flex; height: auto; flex-wrap: wrap; justify-content: space-between;}

.detail_info {display: flex; padding-left: 10px;}
.detail_into_title {width: 150px;}
.division_line {border-top: 2px solid #444444; margin-bottom: 3px;}

#detail_title {margin-right: 10px; font-size: 24px; margin-bottom: 5px;}
#detail_info_title {font-size: 24px; margin: 15px 0px;}
#detail_comment {margin-right: 10px; line-height : 40px;}
#icon_homepage_box {line-height : 40px;}
#bookMark {line-height : 40px;}

.modal_main{
    position:absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%, -30%);
    display: flex;
    flex-direction: column;

    width:800px;  
    height:600px; 
    background-color:transparent;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
}

.modal_body {
    width: 800px;  
    height: 600px; 
    background-color: white; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    align-items: center;
    text-align: center;
    padding: 40px 20px 0px 20px;
}