@charset "utf-8";
.mypage_container {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m_container_div {
  width: 80%;
  height: 350px;
  margin-top: 70px;
  background-color: white;
  border: 1px solid black;
  display: flex;
}

.m_container_div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background_orange {
  width: 100%;
  height: 300px;
  background-color: #FCCB87;
  position: absolute;
  z-index: 0;
}

.m_imgThumb {
  width: 100px;
  height: 100px;
}

.m_username {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.m_count_box {
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  height: 150px;
  display: flex;
  padding: 20px 0px;
}

.m_count_box > .count_box {display: flex; flex-direction: column; align-items: center; justify-content: center;}
.count_title {font-size: 20px; margin-bottom: 20px;}
.count_num {font-size: 20px;}
.count_num > span {font-size: 30px; font-weight: bold; margin-right: 5px;}
.btn_logout {
  width: 160px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 15px;
  border: 1px solid gray;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}

.comment_tr {font-size: 16px; height: 30px;}
.bookmark_tr {display: flex;}
.bookmark_tr > td {display: flex; flex-direction: column;
  border: 1px solid black;
  width: 30%; margin: 5px;
}

img {
  width: 100%;
  height: 150px;
}