<!DOCTYPE html>
<html lang="en" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <div th:replace="~{fragments/header.html :: fragment-header}" />
    <script th:src="@{/js/detail.js}"></script>
    <script th:src="@{/js/intervalTime.js}"></script>
    <link rel="stylesheet" href="css/detail.css">
</head>

<body>
    <!-- 공통 헤더 재사용 -->
    <header th:replace="~{fragments/header :: header}"></header>
    <div id="container">
        <div>
            <div style="display: flex;">
                <div id="detail_title" class="p_bold" onclick="a('this.form')">방문지 타이틀</div>
                <div id="detail_comment" onclick="openModalComment()">💬</div>
                <div id="icon_homepage_box" style="margin-right: 10px;"></div>
                <div id="bookMark" data-visible="false">
                    <img id="org" src="images/detail_bookmark.svg" style="width: 16px; height: 16px; filter: invert(90%) sepia(13%) saturate(5708%) hue-rotate(357deg) brightness(99%) contrast(105%);"/>
                    <!-- <img id="red" src="images/detail_bookmark.svg" style="width: 16px; height: 16px; filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(0deg) brightness(100%) contrast(100%);"/> -->
                </div>
            </div>
            <div style="display: flex;">
                <div id="div_image" style="width: 50%; height: 500px; border: 1px solid red;"></div>
                <div style="width: 50%; height: 500px; border: 1px solid red;">
                    <div id="map_div"></div>
                </div>
            </div>
        </div>
        <div>
            <div id="detail_info_title" class="p_bold">상세정보</div>
            <div class="division_line"></div>
            <div>
                <div id="detail_overview">-</div>
                <br>
                <div class="detail_info">
                    <div class="detail_into_title">●  주소</div><div id="detail_addr">-</div>
                </div>
                <div class="detail_info">
                    <div class="detail_into_title">●  전화번호</div><div id="detail_tel">-</div>
                </div>
                <div class="detail_info">
                    <div class="detail_into_title">●  홈페이지</div><div id="detail_homepage">-</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 댓글모달 -->
    <div class="modal" data-visible="false" onclick="closeModalComment(event)">
        <div class="modal_main">
            <div class="modal_tab">
                <div class="tab_selected">댓글</div>
            </div>
            <div class="modal_body">
                <div id="comment_box">
                    <div id="comment_list_box">
                        <ul id="comment_list"></ul>
                    </div>
                    <div id="comment_input_box" th:value="${userId}">
                        <img class="imgThumb" src="https://static.nid.naver.com/images/web/user/default.png?type=s160" th:value="${userNick}">
                        <input class="comment_input" type="text" placeholder="댓글을 입력해 주세요" id="commentContent" onkeydown="commentEnter(event)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 우린 footer가 필요 없음 -->
    <footer></footer>
</body>
</html>