<!DOCTYPE html>
<html lang="en" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <div th:replace="~{fragments/header.html :: fragment-header}" />
    <script th:src="@{/js/detail.js}"></script>
    <link rel="stylesheet" href="css/detail.css">
</head>

<body>
    <header id="header">
        <div id="h_inner">
            <div id="title_box">
                <div id="title">
                    <h1 class="h1_title">대국민 눈치게임</h1>
                    <img class="img_title" src="https://notion-emojis.s3-us-west-2.amazonaws.com/prod/svg-twitter/1f440.svg" >
                </div>
                <p class="p_title_current_time">2024-04-28 14:56:04</p>
            </div>
            <div id="search_box">
                <input type="text" class="search_bar" placeholder="여행지를 입력해 주세요" id="searchText" autofocus onkeydown="handleKeyDown(event)">
                <img class="img_search" src="images/search.png">
            </div>
            <div id="util_box">
                <div id="login_box" th:style="${userNick == null ? 'display: flex;' : 'display: none;'}">
                    <p onclick="showModal()">로그인</p>
                    <p> | </p>
                    <p onclick="showModal()">회원가입</p>
                </div>
                <img class="imgThumb" src="https://static.nid.naver.com/images/web/user/default.png?type=s160" th:value="${userNick}" th:onclick="showMyPage([[${userNick}]]);">
            </div>
        </div>
    </header>
    <div id="container">
        <div>
            <div id="detail_title" onclick="a('this.form')">
                방문지 타이틀
            </div>
            <div style="display: flex;">
                <div id="div_image" style="width: 47%; height: 500px; border: 1px solid red;">대표 사진</div>
                <div style="width: 47%; height: 500px; border: 1px solid red;">
                    지도
                    <div id="map_div"></div>
                </div>
            </div>
        </div>
        <div>
            <div>
                상세정보
            </div>
            <div class="division_line"></div>
            <div>
                <div id="detail_overview">-</div>
                <br>
                <div class="detail_info">
                    <div class="detail_into_title">●  주소</div><div id="detail_addr">-</div>
                </div>
                <div class="detail_info">
                    <div class="detail_into_title">●  전화번호</div><div id="detail_tel">-</div>
                </div>
                <div class="detail_info">
                    <div class="detail_into_title">●  홈페이지</div><div id="detail_homepage">-</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 우린 footer가 필요 없음 -->
    <footer></footer>
</body>
</html>