<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=cm5DqAKbPy5a0cAgsLE9A9Yz1euxbeCCaxpY19Yt"></script>
    <script src="js/index.js"></script>
</head>
<body onload="initTmap()">
    <header id="header">
        <div id="h_inner">
            <div id="title_box">
                <div id="title">
                    <h1 class="h1_title">대국민 눈치게임</h1>
                    <img class="img_title" src="images/sample.jpg" >
                </div>
                <p class="p_title_current_time">2024-04-28 14:56:04</p>
            </div>
            <div id="search_box">
                <input type="text" class="search_bar" placeholder="여행지를 입력해 주세요">
                <img class="img_search" src="images/search.png">
            </div>
            <div id="util_box">
                <a href="">로그인</a>
                <p> | </p>
                <a href="">회원가입</a>
                <img class="imgThumb" src="https://static.nid.naver.com/images/web/user/default.png?type=s160" width="100" height="100">
            </div>
        </div>
    </header>
    <div id="container">
        <!-- 지도영역 상자 -->
        <div id="c_inner_map">
            <div id="search_result_box">
                <p class="p_search">Search Result</p>
                <div id="result_list_box">
                    <ul>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                    </ul>
                </div>
            </div>
            <div id="tmap_box">
                <div id="map_div">
                </div>
            </div>
            <div id="comment_box">
                <p class="p_comment">Search Result</p>
                <div id="comment_list_box">
                    <ul>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                        <li class="li_search">aaaaaaaa</li>
                    </ul>
                </div>
                <div id="comment_input_box"></div>
            </div>
        </div>
        <!-- 추천 방문지 상자 -->
        <div>
            <h2>추천 방문지</h2>
        </div>
        <div id="c_inner_suggestion">
            <div class="place_image_box"></div>
            <div class="place_image_box"></div>
            <div class="place_image_box"></div>
            <div class="place_image_box"></div>
            <div class="place_image_box"></div>
            <div class="place_image_box"></div>
            <div class="place_image_box"></div>
            <div class="place_image_box"></div>
            <div class="place_image_box"></div>
        </div>
    </div>
    <!-- 우린 footer가 필요 없음 -->
    <footer></footer>
</body>
</html>
