<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/modal3.css">
</head>
<body>
     <!-- 댓글모달 -->
     <div class="modal" data-visible="false" onclick="closeModalComment(event)">
        <div class="modal_main">
            <div class="modal_tab">
                <div class="tab_selected">댓글</div>
            </div>
            <div class="modal_body">
                <div id="comment_box">
                    <div id="comment_list_box">
                        <ul id="commentUL" style="list-style-type: none;">
                        </ul>
                    </div>
                    <div id="comment_input_box">
                        <div id="search_box">
                    <!-- <img th:src="${로그인프로필이미지}"> -->
                    <img class="imgThumb" src="https://static.nid.naver.com/images/web/user/default.png?type=s160" th:value="${userNick}">
                    <input class="comment_input" type="text" placeholder="댓글을 입력해 주세요"/>
                    <button id="submitBtn" th:value="${userId}" th:onclick="modalCommentSave()">↵</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>