<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/modal3.css">
</head>
<body>
    <div class="modal">
        <div class="modal_main">
            <div class="modal_tab">
                <div class="tab_selected">댓글</div>
            </div>
            <div class="modal_body">
                <div id="comment_box">
                    <div id="comment_list_box">
                        <ul style="list-style-type: none;">
                            <li class="li_search">aaaaaaaa</li>
                            <li class="li_search">aaaaaaaa</li>
                            <li class="li_search">aaaaaaaa</li>
                            <li class="li_search">aaaaaaaa</li>
                            <li class="li_search">aaaaaaaa</li>
                            <li class="li_search">aaaaaaaa</li>
                            <li class="li_search">aaaaaaaa</li>
                        </ul>
                    </div>
                    <div id="comment_input_box">
                        <div id="search_box">
                            <input type="text" class="search_bar" placeholder="댓글을 입력하세요">
                            <img class="img_search" src="images/search.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>