<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <div th:replace="~{fragments/header.html :: fragment-header}" />
  <script th:src="@{/js/index.js}"></script>
  <script th:src="@{/js/intervalTime.js}"></script>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/mypage.css">
</head>

<body>
  <!-- 공통 헤더 재사용 -->
  <header th:replace="~{fragments/header :: header}"></header>
  <div style="display: flex;">
    <div class="background_orange"></div>
    <div id="container" class="mypage_container">    
      <div class="m_container_div">
        <div style="width: 40%; align-items: center;">
          <img class="imgThumb m_imgThumb" src="https://static.nid.naver.com/images/web/user/default.png?type=s160" th:value="${userNick}">
          <div class="m_username">사용자 이름</div>
          <div style="font-size: 20px;">프로필 이미지 설정 ></div>
          <input type="button" value="로그아웃" onclick="logout();">
        </div>
        <div style="width: 60%;">
          <div style="font-size: 24px; font-weight: 600; margin-top: 30px;">나의 활동</div>
          <div class="m_count_box">
            <div style="display: flex; flex-direction: column;">
              <div>댓글</div>
              <div><span>10</span>개</div>
            </div>
            <div style="display: flex; flex-direction: column;">
              <div>저장한 장소</div>
              <div><span>10</span>개</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <script>
    function logout() {
      if (confirm("로그아웃 하시겠습니까?")) {
        location.href = "/logout";
      }
    }
  </script>
</body>
</html>