<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <div th:replace="~{fragments/header.html :: fragment-header}" />
  <script th:src="@{/js/mypage.js}"></script>
  <script th:src="@{/js/intervalTime.js}"></script>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/mypage.css">
</head>

<body>
  <!-- 공통 헤더 재사용 -->
  <header th:replace="~{fragments/header :: header}"></header>
  <div style="display: flex;">
    <div class="background_orange"></div>
    <div id="container" class="mypage_container">
      <div class="m_container_div">
        <div style="width: 40%; align-items: center;">
          <img class="imgThumb m_imgThumb" src="https://static.nid.naver.com/images/web/user/default.png?type=s160" data-role="user" th:value="${userNick}">
          <div class="m_username">사용자 이름</div>
          <div style="font-size: 20px;">프로필 이미지 설정 ></div>
          <div class="btn_logout" onclick="logout();">로그아웃</div>
        </div>
        <div style="width: 60%;">
          <div style="font-size: 24px; font-weight: 600; margin-bottom: 20px;">나의 활동</div>
          <div class="m_count_box">
            <div class="count_box" style="width: 40%;">
              <div class="count_title">댓글</div>
              <div class="count_num comment"><span>10</span>개</div>
            </div>
            <div class="count_box" style="width: 60%;">
              <div class="count_title">저장한 장소</div>
              <div class="count_num bookmark"><span>10</span>개</div>
            </div>
          </div>
        </div>
      </div>
      <div class="m_container_div" style="margin-top: 30px; border: 0px;">
        <div style="width: 48%; height: 100%; font-size: 20px;">
          최근 댓글
          <div style="border: 1px solid black; width: 100%; height: 100%; overflow-y: auto;">
            <table style="width: 100%;">
              <tbody class="commentList">
              </tbody>
            </table>
          </div>
        </div>
        <div style="width: 4%;"></div>
        <div style="width: 48%; height: 100%; font-size: 20px;">
          저장한 장소
          <div style="border: 1px solid black; width: 100%; height: 100%; overflow-y: auto;">
            <table style="width: 100%;">
              <tbody class="bookmarkList">
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div style="height: 50px;"></div>
    </div>
  </div>
</body>
</html>