<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travel.plan.data.mapper.RplyHstrMapper">
    <insert id="saveComment" parameterType="RplyHstrDTO">
        insert into RPLY_HSTR(RPLY_CTT,DEL_YN,REG_DTM,REGR_ID,CORC_DTM,CORR_ID,UPPR_RPLY_ID,CONT_TYPE_ID,POI_ID) values(
            #{rplyCtt},
            #{delYn},
            #{regDtm},
            #{regrId},
            #{corcDtm},
            #{corrId},
            #{upprRplyId},
            #{contTypeId},
            #{poiId}
        )
    </insert>

    <select id="getComments" resultType="RplyHstrDTO" parameterType="String">
        <!-- select * from RPLY_HSTR where POI_ID = #{poiId} and DEL_YN = 'N' order by REG_DTM desc limit 5 -->
        SELECT parent.*, child.*
        FROM RPLY_HSTR AS parent
        LEFT JOIN RPLY_HSTR AS child ON parent.RPLY_ID = child.UPPR_RPLY_ID
        WHERE parent.POI_ID = #{poiId}
        AND parent.DEL_YN = 'N'
        ORDER BY parent.REG_DTM DESC
        LIMIT 5
    </select>
</mapper>