<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travel.plan.data.mapper.RplyHstrMapper">
    <insert id="saveComment" parameterType="RplyHstrDTO">
        insert into RPLY_HSTR(RPLY_CTT,DEL_YN,REG_DTM,REGR_ID,CORC_DTM,CORR_ID,UPPR_RPLY_ID,POI_ID,CONT_TYPE_ID) values(
            #{rplyCtt},
            #{delYn},
            #{regDtm},
            #{regrId},
            #{corcDtm},
            #{corrId},
            #{upprRplyId},
            #{poiId},
            #{contTypeId}
        )
    </insert>

    <select id="getReplyCount" resultType="int" parameterType="int">
        SELECT COUNT(p.UPPR_RPLY_ID)
        FROM RPLY_HSTR AS p
        LEFT JOIN RPLY_HSTR AS c ON p.UPPR_RPLY_ID = c.RPLY_ID
        WHERE p.UPPR_RPLY_ID = #{upprRplyId}
    </select>

    <select id="getCommentsForPoi" resultType="java.util.HashMap" parameterType="String">
        select RPLY_ID,RPLY_CTT,REG_DTM,POI_ID
        from RPLY_HSTR
        where POI_ID = #{poiId} and UPPR_RPLY_ID = 0 or UPPR_RPLY_ID = null
        order by REG_DTM desc limit 5
    </select>

    <select id="getCommentsContType" resultType="java.util.HashMap" parameterType="String">
        select RPLY_ID,RPLY_CTT,REG_DTM,CONT_TYPE_ID
        from RPLY_HSTR
        where CONT_TYPE_ID = #{contTypeId} and UPPR_RPLY_ID = 0 or UPPR_RPLY_ID = null
        order by REG_DTM desc limit 5
    </select>

    <select id="getReplyList" resultType="java.util.HashMap" parameterType="RplyHstrDTO">
        SELECT p.RPLY_CTT, p.REG_DTM
        FROM RPLY_HSTR AS p
        LEFT JOIN RPLY_HSTR AS c ON p.UPPR_RPLY_ID = c.RPLY_ID
        WHERE (p.POI_ID = #{poiId} OR p.CONT_TYPE_ID = #{contTypeId})
        AND p.UPPR_RPLY_ID = #{upprRplyId}
        ORDER BY p.REG_DTM DESC
    </select>
</mapper>